
body{
    background-color: rgb(178, 137, 54);
    color: rgb(64, 40, 40);
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
    border: solid;
    border-color: rgb(254, 247, 233);
}

#header{
    background-color: rgb(254, 247, 233);
    border: solid;
    border-color: rgb(254, 247, 233);
}

.container{
    background-color: rgb(219, 188, 158);
    border: solid;
    border-color: rgb(254, 247, 233);
    border-radius: 8px;
}

h1{
    text-align: center;
    font-style: italic;
}

.esim{
    border: solid;
    border-color: rgb(219, 188, 158);
    border-width: 8px 2px 2px;
}

h3{
    text-align: center;
    background-color: rgb(254, 247, 233);
    border: solid;
    border-width: 10px 2px 6px;
    border-color: rgb(254, 247, 233);
    border-radius: 8px;
}

.navbar{
    background-color: rgb(254, 247, 233);
    border: solid;
    border-color: rgb(213, 202, 178);
}

p{
    text-align: center;
    background-color: rgb(254, 247, 233);
    border: solid;
    border-color: rgb(254, 247, 233);
    border-radius: 5px;
}

.carousel-item img {
    max-height: 300px;
    max-width: 90%;
    margin: auto;
}

.kolmas{
    background-color: rgb(254, 247, 233);
    text-align: center;
    border: solid;
    border-color: rgb(254, 247, 233);
}

.carousel-item{
    border: solid;
    border-width: 15px 2px 2px;
    border-color: rgb(254, 247, 233)
}

